<form [formGroup]="pForm" class="container" (ngSubmit)="Update(pForm.value)">
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="formgrid" formControlName="email">
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="formgrid" formControlName="username">
  </div>
  <div class="form-group">
    <label>Firstname</label>
    <input type="text" class="formgrid" formControlName="firstname">
  </div>
  <div class="form-group">
    <label>Lastname</label>
    <input type="text" class="formgrid" formControlName="lastname">
  </div>
  <div class="form-group">
    <label>About</label>
    <input type="text" class="formgrid" formControlName="about">
  </div>
  <div class="form-group">
    <label for="Type">Select Type</label>
    <select class="custom-select" formControlName="type">
    <option>Tenant</option>
    <option>Host</option>
  </select>
  </div>
  <div class="form-group">
    <label>Avatar</label>
      <div>
        <label for="profile_pic">Choose file to upload</label>
        <input type="file" id="profile_pic" name="profile_pic" accept=".jpg, .jpeg, .png" formControlName="avatar" (change)="attachFile($event)">
        <br>
        <img src="{{imageSrc}} "   height="100" weight="100" alt="Image preview..." />
      </div>
  </div>
  <input type="submit" class="btn-danger" value="Update Profile">

</form>
