
  <div class="container">
    <form  *ngIf='RegisterForm' [formGroup]="RegisterForm" (ngSubmit)="Postit(RegisterForm.value)">
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="formgrid" formControlName="username">
        <div class="alert" *ngIf="!RegisterForm.controls['username'].valid && RegisterForm.controls['username'].touched"> This field is required </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="formgrid" formControlName="email">
        <div class="alert" *ngIf="!RegisterForm.controls['email'].valid && RegisterForm.controls['email'].touched"> This field is required and must be a valid email address</div>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="formgrid" formControlName="password">
        <div class="alert" *ngIf="!RegisterForm.controls['password'].valid && RegisterForm.controls['password'].touched"> This field is required </div>
        <p *ngIf="!passmatch" class="alert-danger">
          Passwords Do Not Match!
        </p>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="formgrid" formControlName="passwordr">
        <div class="alert" *ngIf="!RegisterForm.controls['passwordr'].valid && RegisterForm.controls['passwordr'].touched"> This field is required </div>
      </div>

      <div class="form-group">
        <label>First name</label>
        <input type="text" class="formgrid" formControlName="first_name">
        <div class="alert" *ngIf="!RegisterForm.controls['first_name'].valid && RegisterForm.controls['first_name'].touched"> This field is required </div>
      </div>

      <div class="form-group">
        <label>Last name</label>
        <input type="text" class="formgrid" formControlName="last_name">
        <div class="alert" *ngIf="!RegisterForm.controls['last_name'].valid && RegisterForm.controls['last_name'].touched"> This field is required </div>
      </div>

      <div class="form-group">
        <label>About</label>
        <input type="text" class="formgrid" formControlName="About">
        <div class="alert" *ngIf="!RegisterForm.controls['About'].valid && RegisterForm.controls['About'].touched"> This field is required </div>
      </div>

      <div class="form-group">
        <label>User Type:</label>
        <label>Tenant</label>
        <input type="radio" class="formgrid" formControlName="Type" value="tenant">
        <label>Renter</label>
        <input type="radio" class="formgrid" formControlName="Type" value="renter">
        <div class="alert" *ngIf="!RegisterForm.controls['Type'].valid"> Please choose an account Type </div>
      </div>

      <div class="form-group">
        <input type="submit" class="btn-info" value="Create User">
      </div>
    </form>
  </div>
